<template name="myQuiz">
    <tr>
        <td>
            <p class="summary">{{quiz.title}}</p>
        </td>
        <td>
            <a href="javascript:;" class="star">
                <i class="glyphicon glyphicon-play"></i>
            </a>
        </td>
        <td>
            <a href={{pathFor 'Manage.EditQuiz' _id=quiz._id}} class="star">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
        </td>
        <td>
            <a href="#" class="delete">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>    
</template>
