<template name="hello">
	<form>
  		<div class="container form-group">
  			<div class="row">
  				<button>+</button>
				<label class="col" for="text">שאלה</label>
  			</div>
  			<div class="row">
	    		<input class="col-5 form-control ques-text" placeholder="הכנס את השאלה">
  			</div>
  			<div class="row">
	    		<input class="col-5 form-control ques-text" placeholder="הכנס תשובה">
	  			<label class="col" for="points">ניקוד</label><input id="points" type="number" value="0"/>
	    	</div>
	    	<div class="row">
	    		<input class="col-5 form-control ques-text" placeholder="הכנס תשובה">
	    		<label class="col" for="points">ניקוד</label><input id="points" type="number" value="0"/>
	    	</div>
	    	<div class="row">
	    		<input class="col-5 form-control ques-text" placeholder="הכנס תשובה">
	    		<label class="col" for="points">ניקוד</label><input id="points" type="number" value="0"/>
	    	</div>
	    	<div class="row">
	    		<input class="col-5 form-control ques-text" placeholder="הכנס תשובה">
	    		<label class="col" for="points">ניקוד</label><input id="points" type="number" value="0"/>

	    	</div>
  		</div>
  	</form>
</template>