<template name="question_form">
    <form class="question-form form-horizontal">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="text" class="form-control" name="question" placeholder="הכנס את השאלה">
            </div>
            <label for="question" class="col-sm-1 control-label">שאלה</label>
            <button type="button" class="col-sm-1 btn btn-primary add-question">+</button>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <input type="number" class="form-control" value="0">
            </div>
            <label for="points1" class="col-sm-1 control-label">ניקוד</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="answer1" placeholder="הכנס תשובה">
            </div>
            <label for="answer1" class="col-sm-1 control-label">תשובה 1</label>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <input type="number" class="form-control" value="0">
            </div>
            <label for="points2" class="col-sm-1 control-label">ניקוד</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="answer2" placeholder="הכנס תשובה">
            </div>
            <label for="answer2" class="col-sm-1 control-label">תשובה 2</label>
        </div>        
        <div class="form-group">
            <div class="col-sm-1">
                <input type="number" class="form-control" value="0">
            </div>
            <label for="points3" class="col-sm-1 control-label">ניקוד</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="answer3" placeholder="הכנס תשובה">
            </div>
            <label for="answer3" class="col-sm-1 control-label">תשובה 3</label>
        </div>        
        <div class="form-group">
            <div class="col-sm-1">
                <input type="number" class="form-control" value="0">
            </div>
            <label for="points4" class="col-sm-1 control-label">ניקוד</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="answer4" placeholder="הכנס תשובה">
            </div>
            <label for="answer4" class="control-label">תשובה 4</label>
        </div>  
    </form>
</template>