<template name="questionForm">
    <form class="question-form form-horizontal">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="form-group">
                    <div class="col-lg-8">
                        <input type="text" value="{{question.text}}" class="form-control input-lg" name="question" placeholder="שאל/י שאלה">
                    </div>
                    <div class="col-lg-3">
                        <label for="time" class="control-label col-lg-6">זמן לשאלה:</label>
                        <input type="number" class="form-control input-lg col-lg-6" name="time" value="10">
                    </div>
                    <div class="col-lg-1">
                        <button class="remove-question btn btn-danger btn-lg" type="button">
                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-lg-9">
                        <label for="answer1" class="control-label col-lg-1">1</label>
                        <input name="answer1" type="text" class="form-control col-lg-11" placeholder="הכנס/י תשובה">
                    </div>
                    <div class="col-lg-3">
                        <label for="points1" class="control-label col-lg-4">ניקוד</label>
                        <input name="points1" type="number" class="form-control col-lg-6" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9">
                        <label for="answer2" class="control-label col-lg-1">2</label>
                        <input name="answer2" type="text" class="form-control col-lg-11" placeholder="הכנס/י תשובה">
                    </div>
                    <div class="col-lg-3">
                        <label for="points2" class="control-label col-lg-4">ניקוד</label>
                        <input name="points2" type="number" class="form-control col-lg-6" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9">
                        <label for="answer3" class="control-label col-lg-1">3</label>
                        <input name="answer3" type="text" class="form-control col-lg-11" placeholder="הכנס/י תשובה">
                    </div>
                    <div class="col-lg-3">
                        <label for="points3" class="control-label col-lg-4">ניקוד</label>
                        <input name="points3" type="number" class="form-control col-lg-6" value="0">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9">
                        <label for="answer4" class="control-label col-lg-1">4</label>
                        <input name="answer4" type="text" class="form-control col-lg-11" placeholder="הכנס/י תשובה">
                    </div>
                    <div class="col-lg-3">
                        <label for="points4" class="control-label col-lg-4">ניקוד</label>
                        <input name="points4" type="number" class="form-control col-lg-6" value="0">
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>