<template name="quizCard">
    <div class="panel panel-defualt">
        <div class="panel-heading">
            <img class="quiz-panel-img" alt="quiz" src="./img/quiz-img/{{ id }}">
        </div>
        <div class="panel-body">
            <h5 class="quiz-title">{{ title }}</h5>
            <p class="tags-row">
                {{ user }}
            </p>
            <p class="tags-row">
                <ul>
                    {{#each t in tags}}
                        <li>
                            <label class="tags">{{ t.name }}</label>
                        </li>
                    {{/each}}
                </ul>
            </p>
        </div>
        <div class="panel-footer">
            <a href="#" class="btn">העתק שאלון</a>
            <a href="#" class="btn">צפה בפרטים</a>
        </div>
    </div>
</template>