<template name="manageNavbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#manage-nav" aria-expanded="false">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">צהו"ל</a>
            </div>
            <div class="collapse navbar-collapse" id="manage-nav">
                 <ul class="nav navbar-nav">
                     <li class="manage-nav-li"><a href="/profile">פרופיל</a></li>
                 </ul>
                 <form class="js-search navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input class="form-control" placeholder="Search" name="query" type="text">
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>     
            </div>
        </div>
    </nav>
</template>