body{
	direction: rtl;
	background-color: blue;
}

h1{
	font-family: Tahoma
	color: white;	
}

.form-group{
	font-family: Tahoma;
	color: white;
    font-size: 125%;
}

.ques-text{
	width: 25%;
}

.ques-points{
	width: 3%;
}