#question {
	.answer-button {
		width: 100%;
		height: 100%;
	}
	.answer-btn-area {
		padding-bottom: 10px;			
		height: 88px;
	}
	.buttons-col {
		padding-left: 5px;
		padding-right: 5px;
	}
	.btn-answer-1 {
		color: #fff;
		background-color: #d9534f;
		border-color: #d43f3a;
	}
	.btn-answer-2 {
		color: #fff;
		background-color: #5bc0de;
		border-color: #46b8da;
	}
	.btn-answer-3 {
		color: #fff;
		background-color: #f0ad4e;
		border-color: #eea236;
	}
	.btn-answer-4 {
		color: #fff;
		background-color: #5cb85c;
		border-color: #4cae4c;
	}
	.fa-answer-1 {
		content: "\f004";
	}
	.fa-answer-2 {
		content: "\f111";
	}
	.fa-answer-3 {
		content: "\f0c8";
	}
	.fa-answer-4 {
		content: "\f005";
	}
	.circle {
		width: 88px;
		height: 88px;
		border-radius: 50%;
		font-size: 20px;
		color: #fff;
		line-height: 88px;
		text-align: center;
		background: #000
	}
	.answer-count {
		font-size: 30px;
		font-weight: bold;
		font-family: "answer-count-font";
	}
	#answer-count-number {
		font-size: 40px;
	}
}
